<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      
    <SCRIPT LANGUAGE=javascript>
    <!--
        function postPopup(elem) {

      var pno = elem.getAttribute("pno");
      document.getElementById("post_no").value = pno;
      //alert(pno);

      toggle_visibility('popupBoxOnePosition');

    }
    
  function postPopup(elem) {

      var pno = elem.getAttribute("pno");
      document.getElementById("post_no").value = pno;
      //alert(pno);

      toggle_visibility('popupBoxOnePosition');

  }


  function postEdit() {

      var pno = document.getElementById("post_no").value;
      //alert(pno);
      toggle_visibility('popupBoxOnePosition');

      var strurl = "/post_update?post_no=" + pno;
      //alert(strurl);
      window.location.href = strurl;

  }

  function postDelete() {

      var pno = document.getElementById("post_no").value;
      //alert(pno);
      toggle_visibility('popupBoxOnePosition');
      toggle_visibility('popupBoxDelete');

  }

  function postDeleteConfirm() {

      var pno = document.getElementById("post_no").value;
     
      //alert(rprocess);
      var strurl = "/post_delete?post_no=" + pno;

      toggle_visibility('popupBoxDelete');

      //alert(strurl);
      //return false;
      window.location.href = strurl;

  }
        
  function toggle_visibility(id) {
      var e = document.getElementById(id);
      if (e.style.display == 'block')
          e.style.display = 'none';
      else
          e.style.display = 'block';
  }        
        
    //-->
    </SCRIPT>

    <style type="text/css">
    /* 팝업 메뉴 start */
			#popupBoxOnePosition{
				top: 0; left: 0; position: fixed; width: 100%; height: 120%;
				background-color: rgba(0,0,0,0.7); display: none;border-radius:0px;
			}
            #popupBoxDelete{
				top: 0; left: 0; position: fixed; width: 100%; height: 120%;
				background-color: rgba(0,0,0,0.7); display: none;border-radius:0px;
			}
    /* 팝업 메뉴 end */
    </style>
      
    </head>
  <body>
  
  <input type="hidden" name="post_no" value="" id="post_no" /> 
        
  <!-- header include   -->
  <% include ./inc1 %>    
      
      
  <div class="content" style="margin-top:90px;">
    <h1 style="color:#3388cc;padding:5px;"><%= title %></h1>   
      
	<div style="width:100%;height:7px;background:#F2F2F4;margin-top:15px;"></div>
      
	<div style="width:100%;display:flex;justify-content:center;">
	<table style="width:100%;" border="0" class="main_table">    
    <%
    for(var i = 0; i < rows.length; i++)
    {
    %>
           <tr>
            <td class="bbcTitle">
                <%= rows[i].post_title %>            
            </td>
            <td align="center">
                <%= rows[i].member_name %>         
            </td>
            <td align="center">
                <%= rows[i].cat_name %>         
            </td>
            <td align="right">
                <span style="margin-left:30px;cursor:pointer;" onclick="postPopup(this);" pno="<%= rows[i].post_no %>" >&#9776;</span>
            </td>
           </tr>        
    <%  
    }
    %>
    </table>
    </div>     
  </div>
      
  <div class="bottom">
    <table style="width:100%; height:40px; text-align: center; vertical-align: middle;background:#FFFFFF;">
        <tr><td colspan="4" style="border-bottom:solid 1px #CCCCCC;"></td></tr>
        <tr><td width="25%;" align="center" style="font-size:14px;font-family:Arial,맑은 고딕,돋움;border-right:solid 1px #CCCCCC;padding:10px;">
                <a href="/post_insert">글쓰기</a>
            </td>
            <td width="25%;" align="center" style="font-size:14px;font-family:Arial,맑은 고딕,돋움;border-right:solid 1px #CCCCCC;padding:10px;"></td>
            <td width="25%;" style="font-size:14px;font-family:Arial,맑은 고딕,돋움;border-right:solid 1px #CCCCCC;padding:10px;"></td>
            <td width="25%;"></td>
        </tr>
    </table>
  </div>
      
</body>
</html>


    <!-- post action start -->
		<div id="popupBoxOnePosition">
			<div class="popupBoxWrapper">
				<div class="popupBoxContent">
                    <table width="100%" border="0">
                    <tr style = "height:40px;text-align:left;border-bottom:solid 1px #CCCCCC">
                        <td width="40px"></td>
                        <td>
                            <a onclick="postEdit();" style="cursor:pointer;">글수정</a>
                        </td>
                    </tr>
                    <tr><td colspan="2" style="height:1px;text-align:left;border-bottom:solid 1px #CCCCCC"></td></tr>
                    <tr style="height:40px;text-align:left;border-bottom:solid 1px #CCCCCC">
                        <td width="40px"></td>
                        <td>
                            <a onclick="postDelete();" style="cursor:pointer;">글삭제</a>
                        </td>
                    </tr>
                    <tr><td colspan="2" style="height:1px;text-align:left;border-bottom:solid 1px #CCCCCC"></td></tr>
                    <tr style="height:40px;text-align:left;">
                        <td width="40px"></td>
                        <td>
                            <a onclick="toggle_visibility('popupBoxOnePosition');" style="cursor:pointer;">취소</a>
                        </td>
                    </tr>
                    </table>
				</div>
			</div>
		</div>
    <!-- post action end -->

    <!-- delete action start -->
		<div id="popupBoxDelete">
			<div class="popupBoxWrapper">
				<div class="popupBoxContent">
                    <table width="100%" border="0">
                    <tr style = "height:40px;">
                        <td colspan="3" align="center">
                            해당 글을 삭제하시겠습니까?
                        </td>
                    </tr>
                    <tr><td colspan="3" style="height:1px;text-align:left;border-bottom:solid 1px #CCCCCC"></td></tr>
                    <tr style="height:40px;">
                        <td width="50%;" align="center">
                            <a onclick="postDeleteConfirm();" style="cursor:pointer;text-align:center;">확인</a>
                        </td>
                        <td style="width:1px;background:#CCCCCC;"></td>
                        <td align="center">
                            <a onclick="toggle_visibility('popupBoxDelete');" style="cursor:pointer;text-align:center;">취소</a>
                        </td>
                    </tr>
                    </table>
				</div>
			</div>
		</div>
    <!-- delete action end -->
