<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/chattingList.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  <style>
  ul {
    padding: 0;
    list-style:none;
  }

  .message-avatar-icon {
    width: 20%;
    float: left;
    margin-right: 2px;
  }

  .message-avatar-icon img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  .receiver {
    max-width: 70%;
  }

  .communication_menu {
      z-index: 5;
      width: 328px;
      height: 100%;
      position: absolute;
      background: #EEEEEE;
      left: 450px;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
  }

  /* .pull-right {
      padding: 10px 10px;
      margin: 0px 5px 0px 0px;
      background: #EEEEEE;
      float: right;
      color: #0cc738;
      cursor: pointer;
      margin-top: 4px;
      border-radius: 5px;
      position: absolute;
      top: 5px;
      right: 5px;
  } */

  /* .pull-right {
    cursor: pointer;
  }

  #menuToggle {
      display: none;
  }

      #menuToggle:checked ~ .communication_menu {
          position: absolute;
          left: 92px;
          top: 0px;
      } */
  </style>
</head>

<body>
  <div class="container app">
    <div class="row app-one">
      <div class="col-sm-12 conversation">
        <div class="row heading" style="height:100px;">
          <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar" >
            <div class="heading-avatar-icon">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" style="height:100px; width:100px;">
            </div>
          </div>
          <div class="col-sm-8 col-xs-7 heading-name">
            <input type="hidden" id="member_no" value=<%= member_no %>>
            <a class="heading-name-meta" style="font-size:30px"> <%= chatroom_title %></a>
          </div>
          <table>
            <td> <a href="/channels">채팅방 목록으로</a></td>
            <td> <a href="/exitChatRoom?chatroom_no=<%= chatroom_no %>">채팅방 나가기</a> </td>
            <td>
                <div class="col-sm-1 col-xs-1  heading-dot pull-right">
                  <a href="/addMembers?chatroom_no=<%= chatroom_no %>&chatroom_title=<%= chatroom_title %>" class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></a>
                  <!-- <label for="menuToggle" class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></label> -->
                </div>
            </td>
        </table>
        </div>

        <!-- <input type="checkbox" id="menuToggle">
        <nav class="communication_menu">
          <h1>대화상대 초대
          <ul id="chat_members">
          </ul>
        </nav> -->

        <div class="row message" id="conversation">
          <!-- <div class="row message-previous">
            <div class="col-sm-12 previous">
              <a onclick="previous(this)" id="ankitjain28" name="20">
                Show Previous Message!
              </a>
            </div>
          </div> -->
          <ul id="chat_log">
            <%
            for(var i = 0; i < messages.length; i++){
              if(messages[i].member_no == member_no){
            %>
            <li>
              <div class="row message-body">
                <div class="col-sm-12 message-main-sender">
                  <div class="sender">
                    <div class="message-text">
                      <%= messages[i].message %>
                    </div>
                    <span class="message-time pull-right">
                      <%= messages[i].sendedAt %>
                    </span>
                  </div>
                </div>
              </div>
            </li>
            <%
              }
              else{
            %>
            <li>
              <div class="row message-body">
                <div class="col-sm-12 message-main-receiver">
                  <div class="message-avatar-icon">
                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
                  </div>
                  <div class="receiver">
                    <div class="message-text">
                      <%= messages[i].message %>
                    </div>
                    <span class="message-time pull-right">
                      <%= messages[i].sendedAt %>
                    </span>
                  </div>
                </div>
              </div>
            </li>
            <%
              }
            }
            %>

            <!-- <li>
              <div class="row message-body">
                <div class="col-sm-12 message-main-receiver">
                  <div class="message-avatar-icon">
                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
                  </div>
                  <div class="receiver">
                    <div class="message-text">
                      Hi, what are you doing?! 테스트를 계속해보자.
                      줄이 어디까지 갈까?
                    </div>
                    <span class="message-time pull-right">
                      11:01 AM, Sun
                    </span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row message-body">
                <div class="col-sm-12 message-main-sender">
                  <div class="sender">
                    <div class="message-text">
                      I am doing nothing man! 여기도 테스트를 해보자. 어디까지 갈까요??
                      알아맞춰보세요. 딩동댕!!
                    </div>
                    <span class="message-time pull-right">
                      3:10 PM, Sun
                    </span>
                  </div>
                </div>
              </div>
            </li> -->
          </ul>
        </div>

        <div class="row reply">
          <div class="col-sm-1 col-xs-1 reply-emojis">
            <i class="fa fa-smile-o fa-2x"></i>
          </div>
          <div class="col-sm-9 col-xs-9 reply-main">
            <textarea class="form-control" rows="1" id="comment"></textarea>
          </div>
          <div class="col-sm-1 col-xs-1 reply-recording">
            <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
          </div>
          <div class="col-sm-1 col-xs-1 reply-send">
            <i id="sendMsg" class="fa fa-send fa-2x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script>
  var socket = io('/chatChannel');
  socket.emit('joinRoom', {chatroom_no: <%= chatroom_no %>});
  $('#sendMsg').click(function(e){
    var member_no = document.getElementById('member_no').value;
    var message = document.getElementById('comment').value;

    // console.log(member_no.value);
    // console.log(message.value);
    $.ajax({
			url: '/sendMsg', // 서버에 전달할 파일명
			dataType: 'json',
			type: 'post',
			data: {
        'chatroom_no': <%= chatroom_no %>,
				'member_no': member_no,
				'message': message
			},
			success: function(data) {
            socket.emit('sendMsg', {chatroom_no: <%= chatroom_no %>, message: message});

            $("#chat_log").append("<div class='row message-body'>" +
              "<div class='col-sm-12 message-main-sender'>" +
                "<div class='sender'>" +
                  "<div class='message-text'>" +
                  $('#comment').val() +
                  "</div>" +
                  "<span class='message-time pull-right'>" +
                    data.sendedAt +
                  "</span>" +
                "</div>" +
              "</div>" +
            "</div>");

            $('#comment').val('');
            $('#comment').focus();
            e.preventDefault();
			},
      error : function(error){
        console.log('err');
      }
		});

    // socket.emit('sendMsg', {chatroom_no: <%= chatroom_no %>, message: message});
    //
    // $("#chat_log").append("<div class='row message-body'>" +
    //   "<div class='col-sm-12 message-main-sender'>" +
    //     "<div class='sender'>" +
    //       "<div class='message-text'>" +
    //       $('#comment').val() +
    //       "</div>" +
    //       "<span class='message-time pull-right'>" +
    //         "3:10 PM, Sun" +
    //       "</span>" +
    //     "</div>" +
    //   "</div>" +
    // "</div>");
    //
    // $('#comment').val('');
    // $('#comment').focus();
    // e.preventDefault();
  });

  socket.on('receiveMsg', function(data){
    $("#chat_log").append("<li><div class='row message-body'>" +
      "<div class='col-sm-12 message-main-receiver'>" +
        "<div class='message-avatar-icon'>" +
          "<img src='https://bootdey.com/img/Content/avatar/avatar6.png'>" +
        "</div>" +
        "<div class='receiver'>" +
          "<div class='message-text'>" +
            data +
          "</div>"+
          "<span class='message-time pull-right'>" +
            "11:01 AM, Sun" +
          "</span>" +
        "</div>" +
      "</div>" +
    "</div></li>");
  });
</script>

</html>
