<!DOCTYPE HTML>
<!--
   Transitive by TEMPLATED
   templated.co @templatedco
   Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>Review</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/board.css" />
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&amp;subset=korean" rel="stylesheet">
</head>

<body class="subpage">
<style>
    table td{
        font-family: "Nanum Gothic, sans-serif"
    }
    </style>
    <!-- Header -->
    <header id="header">
        <div class="logo"><a href="index.html">HotTrace</a></div>
        <a href="#menu" class="toggle"><span>Menu</span></a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
        </ul>
    </nav>

    <!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">

                    <h2 id="elements">Review</h2>
                    <div class="row 200%">
                        <div class="6u 12u$(medium)">

                            <div style="height: 500px; overflow: scroll; overflow-x: hidden">
                                <!-- Table -->
                                <h3 style="font-family: Nanum Gothic, sans-serif">목록</h3>
                                <div class="table-wrapper">
                                    <table id="tb">
                                        <thead>
                                            <tr>
                                                <th style="font-weight:bold;">No.</th>
                                                <th style="font-weight:bold;">Title</th>
                                                <th style="font-weight:bold;">ID</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i<review_len; i++){%>
                                            <tr id="<%=i%>" style="cursor: pointer" onclick="myFunc(this.id)">
                                                <td style="color:black"><%=review_list[i].board_id%></td>
                                                <td style="color:black">
                                                    <span><%=review_list[i].board_title%></span>
                                                </td>
                                                <td style="color:black"><%=review_list[i].board_writer%></td>
                                            </tr>
                                            <tr>
                                                <td id="plain<%=i%>" colspan="3" style="display: none">
                                                    <div><%=review_list[i].board_content%></div>
                                                </td>
                                            </tr>
                                            <%}%>
<!--
                                            <tr id="1" style="cursor: pointer" onclick="myFunc(this.id)">
                                                <td>Item 1</td>
                                                <td>
                                                    <span>TITLE</span>
                                                </td>
                                                <td>29.99</td>
                                            </tr>
                                            <tr>
                                                <td id="plain1" colspan="3" style="display: none">
                                                    <div>CONTENTS 1</div>
                                                </td>
                                            </tr>
                                            <tr id="2" style="cursor: pointer" onclick="myFunc(this.id)">
                                                <td>Item 2</td>
                                                <td>
                                                    <span>TITLE</span>
                                                </td>
                                                <td>29.99</td>
                                            </tr>
                                            <tr>
                                                <td id="plain2" colspan="3" style="display: none">
                                                    <div>CONTENTS 2</div>
                                                </td>
                                            </tr>
                                            <tr id="3" style="cursor: pointer" onclick="myFunc(this.id)">
                                                <td>Item 3</td>
                                                <td>
                                                    <span>TITLE</span>
                                                </td>
                                                <td>29.99</td>
                                            </tr>
                                            <tr>
                                                <td id="plain3" colspan="3" style="display: none">
                                                    <div>CONTENTS 3</div>
                                                </td>
                                            </tr>
                                            <tr id="4" style="cursor: pointer" onclick="myFunc(this.id)">
                                                <td>Item 4</td>
                                                <td>
                                                    <span>TITLE</span>
                                                </td>
                                                <td>29.99</td>
                                            </tr>
                                            <tr>
                                                <td id="plain4" colspan="3" style="display: none">
                                                    <div>CONTENTS 4</div>
                                                </td>
                                            </tr>
                                            <tr id="5" style="cursor: pointer" onclick="myFunc(this.id)">
                                                <td>Item 5</td>
                                                <td>
                                                    <span>TITLE</span>
                                                </td>
                                                <td>29.99</td>
                                            </tr>
                                            <tr>
                                                <td id="plain5" colspan="3" style="display: none">
                                                    <div>CONTENTS 5</div>
                                                </td>
                                            </tr>
                                            <tr id="6" style="cursor: pointer" onclick="myFunc(this.id)">
                                                <td>Item 6</td>
                                                <td>
                                                    <span>TITLE</span>
                                                </td>
                                                <td>29.99</td>
                                            </tr>
                                            <tr>
                                                <td id="plain6" colspan="3" style="display: none">
                                                    <div>CONTENTS 6</div>
                                                </td>
                                            </tr>
                                            <tr id="7" style="cursor: pointer" onclick="myFunc(this.id)">
                                                <td>Item 7</td>
                                                <td>
                                                    <span>TITLE</span>
                                                </td>
                                                <td>29.99</td>
                                            </tr>
                                            <tr>
                                                <td id="plain7" colspan="3" style="display: none">
                                                    <div>CONTENTS 7</div>
                                                </td>
                                            </tr>
-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button onclick='location.href="/board/writeform"'>리뷰 작성하기</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Scripts -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/skel.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
    <script>
        function myFunc(a) {
            var name = "plain" + a;
            var b = document.getElementById(name);
            if (b.style.display == "none") {

                b.style.display = '';
            } else {
                b.style.display = 'none';
            }
        }

    </script>
</body>

</html>
